@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: would be nice to have seperate files for each theme */
@layer base {
  html {
    --color-text: #d1d0c5;
    --color-background: #323437;
    --color-elementBg: #2c2e31;
    --color-active: #d1b71c;
    --color-inactive: #636669;
  }

  html[data-theme="forest_whisper"] {
    --color-text: #e3e7dc;
    --color-background: #1e2c2b;
    --color-elementBg: #30443e;
    --color-active: #b8e986;
    --color-inactive: #4b6455;
  }

  html[data-theme="ocean_breeze"] {
    --color-text: #e0faff;
    --color-background: #012d47;
    --color-elementBg: #014963;
    --color-active: #00d4ff;
    --color-inactive: #516e80;
  }

  html[data-theme="cinder_blush"] {
    --color-text: #fbe9e7;
    --color-background: #2a1a18;
    --color-elementBg: #402524;
    --color-active: #ff725e;
    --color-inactive: #7c4f4a;
  }

  html[data-theme="electric_dreams"] {
    --color-text: #f4faff;
    --color-background: #140f2a;
    --color-elementBg: #1d1442;
    --color-active: #ff00f6;
    --color-inactive: #5a4984;
  }
  html[data-theme="plum_mint"] {
    --color-text: #f6fdf9;
    --color-background: #251e29;
    --color-elementBg: #3c2f44;
    --color-active: #c1ffdd;
    --color-inactive: #85688f;
  }

  html[data-theme="neon_night"] {
    --color-text: #e5ffe5;
    --color-background: #000a13;
    --color-elementBg: #001e26;
    --color-active: #00ff7f;
    --color-inactive: #005c42;
  }

  html[data-theme="achromatopsia"] {
    --color-text: #ebebeb;
    --color-background: #1e1e1e;
    --color-elementBg: #373737;
    --color-active: #ebebeb;
    --color-inactive: #6b6b6b;
  }

  html[data-theme="berry_burst"] {
    --color-text: #fff3f8;
    --color-background: #230013;
    --color-elementBg: #36001f;
    --color-active: #ff338f;
    --color-inactive: #80445c;
  }

  html[data-theme="solar_flare"] {
    --color-text: #fffbf3;
    --color-background: #3a2600;
    --color-elementBg: #5b3d00;
    --color-active: #ffc700;
    --color-inactive: #7f5d2a;
  }

  html[data-theme="arctic_twilight"] {
    --color-text: #e3faff;
    --color-background: #002933;
    --color-elementBg: #004d59;
    --color-active: #e6fbff;
    --color-inactive: #377f8a;
  }

  html[data-theme="deep_sea"] {
    --color-text: #e3fdf7;
    --color-background: #000c0d;
    --color-elementBg: #002120;
    --color-active: #01ffd7;
    --color-inactive: #005f54;
  }

  html[data-theme="mint"] {
    --color-text: #fffafb;
    --color-background: #131515;
    --color-elementBg: #2b2c28;
    --color-active: #5fffd7;
    --color-inactive: #bbbea8;
  }

  html[data-theme="late_night_walk"] {
    --color-text: #e8e5dc;
    --color-background: #27282b;
    --color-elementBg: #3e3e3e;
    --color-active: #eed78a;
    --color-inactive: #5e5c56;
  }

  html[data-theme="red_directive"] {
    --color-text: #ffa5ac;
    --color-background: #292f2c;
    --color-elementBg: #272b22;
    --color-active: #ff192b;
    --color-inactive: #767a69;
  }

  html[data-theme="void_silk"] {
    --color-text: #dfeef0;
    --color-background: #070711;
    --color-elementBg: #130f24;
    --color-active: #b944b2;
    --color-inactive: #534e58;
  }

  html[data-theme="golden_dusk"] {
    --color-text: #fff9e6;
    --color-background: #1e1a13;
    --color-elementBg: #3a2f1c;
    --color-active: #e0a843;
    --color-inactive: #7e6747;
  }

  html[data-theme="midnight_frost"] {
    --color-text: #d9d9d9;
    --color-background: #212534;
    --color-elementBg: #3f455a;
    --color-active: #f1f5ff;
    --color-inactive: #72788b;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-elementBg) var(--color-background);
}

html {
  overflow-y: scroll;
}
